In [22]:
import pandas as pd
import os
import csv
from sqlalchemy import create_engine

In [2]:
filepath = "/Users/Michael/Desktop/electiondata.xlsx"
filepath2 = "/Users/Michael/Desktop/coviddataGA.xlsx"

In [3]:
electiondf = pd.read_excel(filepath)
coviddf = pd.read_excel(filepath2)
electiondf.head()

,Unnamed: 0,Donald J. Trump (I) (Rep),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Joseph R. Biden (Dem),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Jo Jorgensen (Lib),Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,County,Election Day Votes,Absentee by Mail Votes,Advanced Voting Votes,Provisional Votes,Total Votes,Election Day Votes,Absentee by Mail Votes,Advanced Voting Votes,Provisional Votes,Total Votes,Election Day Votes,Absentee by Mail Votes,Advanced Voting Votes,Provisional Votes,Total Votes,Total
1,Appling,1753,890,3874,9,6526,334,587,855,3,1779,5,5,26,0,36,8341
2,Atkinson,716,164,1419,1,2300,250,130,445,0,825,14,3,13,0,30,3155
3,Bacon,431,487,3099,1,4018,140,196,288,1,625,8,4,13,0,25,4668
4,Baker,291,138,466,2,897,149,234,269,0,652,2,2,2,0,6,1555

In [4]:
coviddf.head()

,County,Confirmed Cases,Confirmed Cases per 100k,Antigen Positive Cases,Confirmed Deaths,Probable Deaths,Hospitalizations
0,Appling,1234,6648.35,100,38,2,106
1,Atkinson,527,6326.53,72,9,0,72
2,Bacon,663,5813.75,87,20,4,52
3,Baker,107,3433.89,19,6,0,21
4,Baldwin,2527,5687.85,151,69,2,180

In [5]:
cleanelectiondf = electiondf[['Unnamed: 0', 'Unnamed: 5', 'Unnamed: 10', 'Unnamed: 15', 'Unnamed: 16']].copy()
cleanelectiondf.head()

  Unnamed: 0   Unnamed: 5  Unnamed: 10  Unnamed: 15 Unnamed: 16
0     County  Total Votes  Total Votes  Total Votes       Total
1    Appling         6526         1779           36        8341
2   Atkinson         2300          825           30        3155
3      Bacon         4018          625           25        4668
4      Baker          897          652            6        1555

In [6]:
cleanelectiondf.rename(columns={"Unnamed: 0": "County", "Unnamed: 5": "Donald J. Trump (Rep)",
                                "Unnamed: 10": "Joseph R. Biden (Dem)",
                                "Unnamed: 15": "Jo Jorgensen (Lib)",
                               "Unnamed: 16": "County Total"}, inplace=True)
cleanelectiondf.head()

,County,Donald J. Trump (Rep),Joseph R. Biden (Dem),Jo Jorgensen (Lib),County Total
0,County,Total Votes,Total Votes,Total Votes,Total
1,Appling,6526,1779,36,8341
2,Atkinson,2300,825,30,3155
3,Bacon,4018,625,25,4668
4,Baker,897,652,6,1555

In [16]:
df = cleanelectiondf.drop(cleanelectiondf.index[0])
finalelectiondf = df.reset_index(drop=True)
finalelectiondf

,County,Donald J. Trump (Rep),Joseph R. Biden (Dem),Jo Jorgensen (Lib),County Total
0,Appling,6526,1779,36,8341
1,Atkinson,2300,825,30,3155
2,Bacon,4018,625,25,4668
3,Baker,897,652,6,1555
4,Baldwin,8903,9140,208,18251
...,...,...,...,...,...
155,Wilcox,2403,862,16,3281
156,Wilkes,2823,2160,46,5029
157,Wilkinson,2664,2075,31,4770
158,Worth,6830,2395,60,9285
159,Total:,2461837,2474507,62138,4998482

In [17]:
fulldata = pd.merge(finalelectiondf, coviddf, on='County', left_index=True)

In [18]:
fulldata

,County,Donald J. Trump (Rep),Joseph R. Biden (Dem),Jo Jorgensen (Lib),County Total,Confirmed Cases,Confirmed Cases per 100k,Antigen Positive Cases,Confirmed Deaths,Probable Deaths,Hospitalizations
0,Appling,6526,1779,36,8341,1234,6648.35,100,38,2,106
1,Atkinson,2300,825,30,3155,527,6326.53,72,9,0,72
2,Bacon,4018,625,25,4668,663,5813.75,87,20,4,52
3,Baker,897,652,6,1555,107,3433.89,19,6,0,21
4,Baldwin,8903,9140,208,18251,2527,5687.85,151,69,2,180
...,...,...,...,...,...,...,...,...,...,...,...
156,Whitfield,25636,10670,440,36746,7695,7351.54,253,83,1,376
157,Wilcox,2403,862,16,3281,290,3299.20,95,25,3,56
158,Wilkes,2823,2160,46,5029,370,3694.83,94,7,2,46
159,Wilkinson,2664,2075,31,4770,413,4630.56,27,18,0,73
160,Worth,6830,2395,60,9285,650,3227.09,101,35,3,107

In [19]:
fulldata.rename(columns={"County Total": "Total County Votes",
                        "Confirmed Cases": "Confirmed COVID-19 Cases"}, inplace=True)

In [20]:
fulldata

,County,Donald J. Trump (Rep),Joseph R. Biden (Dem),Jo Jorgensen (Lib),Total County Votes,Confirmed COVID-19 Cases,Confirmed Cases per 100k,Antigen Positive Cases,Confirmed Deaths,Probable Deaths,Hospitalizations
0,Appling,6526,1779,36,8341,1234,6648.35,100,38,2,106
1,Atkinson,2300,825,30,3155,527,6326.53,72,9,0,72
2,Bacon,4018,625,25,4668,663,5813.75,87,20,4,52
3,Baker,897,652,6,1555,107,3433.89,19,6,0,21
4,Baldwin,8903,9140,208,18251,2527,5687.85,151,69,2,180
...,...,...,...,...,...,...,...,...,...,...,...
156,Whitfield,25636,10670,440,36746,7695,7351.54,253,83,1,376
157,Wilcox,2403,862,16,3281,290,3299.20,95,25,3,56
158,Wilkes,2823,2160,46,5029,370,3694.83,94,7,2,46
159,Wilkinson,2664,2075,31,4770,413,4630.56,27,18,0,73
160,Worth,6830,2395,60,9285,650,3227.09,101,35,3,107

In [23]:
#Upload to SQL server

connstring = "postgres:Michaelflyer1@localhost:5433/etlproject_db"
engine = create_engine(f'postgresql://{connstring}')

In [24]:
#Check table names

engine.table_names()

[]