In [1]:
import pandas as pd
import os
import csv
from dotenv import load_dotenv
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [6]:
# get user and password for postgres db
# ! pip install -U python-dotenv in case you don't have the module

load_dotenv()
password = os.getenv('postgres')
user = os.getenv('user')

In [7]:
# Read data source files
folder = 'Resources'
file_list = os.listdir(folder)
file_path = []
[file_path.append(os.path.join(folder,f)) for f in file_list]
print(file_path)

['Resources\\coviddataGA.xlsx', 'Resources\\electiondata.xlsx', 'Resources\\GA_Income.csv', 'Resources\\raw']

In [38]:
income_df = pd.read_csv(file_path[2])
income_df.rename(columns = {'County': 'county', 'State': 'state'}, inplace = True)
income_df.head()

     county state   2016   2017   2018
0   Appling    GA  30860  32080  33268
1  Atkinson    GA  26599  28764  30511
2     Bacon    GA  31025  32775  33080
3     Baker    GA  36061  35725  38666
4   Baldwin    GA  30637  31950  33203

In [9]:
covid_df = pd.read_excel(file_path[0])
covid_df.head()

,County,Confirmed Cases,Confirmed Cases per 100k,Antigen Positive Cases,Confirmed Deaths,Probable Deaths,Hospitalizations
0,Appling,1234,6648.35,100,38,2,106
1,Atkinson,527,6326.53,72,9,0,72
2,Bacon,663,5813.75,87,20,4,52
3,Baker,107,3433.89,19,6,0,21
4,Baldwin,2527,5687.85,151,69,2,180

In [13]:
election_df = pd.read_excel(file_path[1])
election_df.head()

,Unnamed: 0,Donald J. Trump (I) (Rep),Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Joseph R. Biden (Dem),Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Jo Jorgensen (Lib),Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,County,Election Day Votes,Absentee by Mail Votes,Advanced Voting Votes,Provisional Votes,Total Votes,Election Day Votes,Absentee by Mail Votes,Advanced Voting Votes,Provisional Votes,Total Votes,Election Day Votes,Absentee by Mail Votes,Advanced Voting Votes,Provisional Votes,Total Votes,Total
1,Appling,1753,890,3874,9,6526,334,587,855,3,1779,5,5,26,0,36,8341
2,Atkinson,716,164,1419,1,2300,250,130,445,0,825,14,3,13,0,30,3155
3,Bacon,431,487,3099,1,4018,140,196,288,1,625,8,4,13,0,25,4668
4,Baker,291,138,466,2,897,149,234,269,0,652,2,2,2,0,6,1555

In [14]:
cleanelection_df = election_df[['Unnamed: 0', 'Unnamed: 5', 'Unnamed: 10', 'Unnamed: 15', 'Unnamed: 16']].copy()
cleanelection_df.head()

  Unnamed: 0   Unnamed: 5  Unnamed: 10  Unnamed: 15 Unnamed: 16
0     County  Total Votes  Total Votes  Total Votes       Total
1    Appling         6526         1779           36        8341
2   Atkinson         2300          825           30        3155
3      Bacon         4018          625           25        4668
4      Baker          897          652            6        1555

In [15]:
cleanelection_df.rename(columns={"Unnamed: 0": "County", "Unnamed: 5": "Donald J. Trump (Rep)",
                                "Unnamed: 10": "Joseph R. Biden (Dem)",
                                "Unnamed: 15": "Jo Jorgensen (Lib)",
                               "Unnamed: 16": "County Total"}, inplace=True)
cleanelection_df.head()

,County,Donald J. Trump (Rep),Joseph R. Biden (Dem),Jo Jorgensen (Lib),County Total
0,County,Total Votes,Total Votes,Total Votes,Total
1,Appling,6526,1779,36,8341
2,Atkinson,2300,825,30,3155
3,Bacon,4018,625,25,4668
4,Baker,897,652,6,1555

In [34]:
finalelection_df = cleanelection_df.drop(cleanelection_df.index[0]).reset_index(drop=True)
finalelection_df.head()

,County,Donald J. Trump (Rep),Joseph R. Biden (Dem),Jo Jorgensen (Lib),County Total
0,Appling,6526,1779,36,8341
1,Atkinson,2300,825,30,3155
2,Bacon,4018,625,25,4668
3,Baker,897,652,6,1555
4,Baldwin,8903,9140,208,18251

In [35]:
combined_data_df = pd.merge(finalelection_df, covid_df, on='County', left_index=True)
combined_data_df.head()

,County,Donald J. Trump (Rep),Joseph R. Biden (Dem),Jo Jorgensen (Lib),County Total,Confirmed Cases,Confirmed Cases per 100k,Antigen Positive Cases,Confirmed Deaths,Probable Deaths,Hospitalizations
0,Appling,6526,1779,36,8341,1234,6648.35,100,38,2,106
1,Atkinson,2300,825,30,3155,527,6326.53,72,9,0,72
2,Bacon,4018,625,25,4668,663,5813.75,87,20,4,52
3,Baker,897,652,6,1555,107,3433.89,19,6,0,21
4,Baldwin,8903,9140,208,18251,2527,5687.85,151,69,2,180

In [36]:
combined_data_df.rename(columns={"County Total": "Total County Votes",
                        "Confirmed Cases": "Confirmed COVID-19 Cases"}, inplace=True)
combined_data_df.head()

,County,Donald J. Trump (Rep),Joseph R. Biden (Dem),Jo Jorgensen (Lib),Total County Votes,Confirmed COVID-19 Cases,Confirmed Cases per 100k,Antigen Positive Cases,Confirmed Deaths,Probable Deaths,Hospitalizations
0,Appling,6526,1779,36,8341,1234,6648.35,100,38,2,106
1,Atkinson,2300,825,30,3155,527,6326.53,72,9,0,72
2,Bacon,4018,625,25,4668,663,5813.75,87,20,4,52
3,Baker,897,652,6,1555,107,3433.89,19,6,0,21
4,Baldwin,8903,9140,208,18251,2527,5687.85,151,69,2,180

In [37]:
combined_data_df.rename(columns={"County": "county",
                                       "Donald J. Trump (Rep)":"trump",
                                      "Joseph R. Biden (Dem)": "biden",
                                      "Jo Jorgensen (Lib)": "jorgensen",
                                      "Total County Votes": "total_county_votes",
                                      "Confirmed COVID-19 Cases": "confirmed_covid_cases",
                                      "Confirmed Cases per 100k": "confirmed_per100k",
                                      "Antigen Positive Cases": "antigen_positive",
                                      "Confirmed Deaths": "confirmed_deaths",
                                      "Probable Deaths": "probable_deaths",
                                      "Hospitalizations": "hospitalizations"}, inplace = True)
combined_data_df.head()

,county,trump,biden,jorgensen,total_county_votes,confirmed_covid_cases,confirmed_per100k,antigen_positive,confirmed_deaths,probable_deaths,hospitalizations
0,Appling,6526,1779,36,8341,1234,6648.35,100,38,2,106
1,Atkinson,2300,825,30,3155,527,6326.53,72,9,0,72
2,Bacon,4018,625,25,4668,663,5813.75,87,20,4,52
3,Baker,897,652,6,1555,107,3433.89,19,6,0,21
4,Baldwin,8903,9140,208,18251,2527,5687.85,151,69,2,180

In [26]:
#Upload to SQL server
db_name = 'etlproject_db'
engine = create_engine(f'postgresql://{user}:{password}@localhost/{db_name}')
con = engine

In [42]:

engine.table_names()

['covidelection_combined', 'georgia_income']

In [43]:
# Export to SQL db

In [44]:
pd.read_sql_query("SELECT * FROM covidelection_combined", con).head()

,county,trump,biden,jorgensen,total_county_votes,confirmed_covid_cases,confirmed_per100k,antigen_positive,confirmed_deaths,probable_deaths,hospitalizations
0,Appling,6526,1779,36,8341,1234,6648.35,100,38,2,106
1,Atkinson,2300,825,30,3155,527,6326.53,72,9,0,72
2,Bacon,4018,625,25,4668,663,5813.75,87,20,4,52
3,Baker,897,652,6,1555,107,3433.89,19,6,0,21
4,Baldwin,8903,9140,208,18251,2527,5687.85,151,69,2,180

In [45]:
pd.read_sql_query("SELECT * FROM georgia_income", con).head()

     county state   2016   2017   2018
0   Appling    GA  30860  32080  33268
1  Atkinson    GA  26599  28764  30511
2     Bacon    GA  31025  32775  33080
3     Baker    GA  36061  35725  38666
4   Baldwin    GA  30637  31950  33203